.navBar {
    background-color: #222;
    height: 80px;
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
}

.navLogoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.navLogo img {
    height: 65px;
    padding: 0px 50px;
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.active {
    background-color: grey;
}


.material-icons.homeLink {
    font-size: 65px;
    color: white;
    margin: 10px 50px;
}

a:hover {
    background: grey;
}